# SoundCloud API Configuration
SOUNDCLOUD_CLIENT_ID=your_soundcloud_client_id
SOUNDCLOUD_CLIENT_SECRET=your_soundcloud_client_secret
SOUNDCLOUD_REFRESH_TOKEN=your_soundcloud_refresh_token
SOUNDCLOUD_ACCESS_TOKEN=

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

# App Settings
LOOKBACK_MINUTES=65
PLAYLIST_PREFIX="Genre: "
DEFAULT_GENRE="Uncategorized"
PLAYLIST_SHARING="private"

# State & GCP Infrastructure Settings
PROJECT_ID=your_gcp_project_id
STATE_BUCKET=your_gcp_project_id-soundcloud-auto-playlist-state
